

.features{
    margin: 10rem 10rem !important;
    .shopNow{
        &:hover{
            text-decoration: underline;
            font-weight: bold;
            cursor: pointer;
            color: darkblue !important;
            text-shadow: 1px 2px 4px rgb(65, 58, 194);
        }
    }
    .feature1{
        background-color: #FFDBDF;
        &:hover{
            .shop{
                padding-bottom: 5px;
                transform: scale(105%);
                transition: 400ms;
            }   
        } 
       
    }
    .feature2{
        background-color: #D6F7FE;
        &:hover{
            .shop{
                padding-bottom: 5px;
                transform: scale(105%);
                transition: 400ms;
            }   
        } 
        
    }
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
    .shopping{
        text-decoration: none;
    }
}
@media (max-width:778px){
    .features{
        .align{
            text-align: center; 
     }
     .card-img-top{
         height: 100%;
     }
    }
   
}
